.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    list-style-type: none;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: lightskyblue;
}

li.link-wrapper>a.active {
    color: white;
    background-color: blue;
}